<template>
  <div class="stream" id="jitsiMeet"></div>
</template>

<script>
export default {
  name: 'JitsiVideo',
  props: {
    room: {
      type: String,
    },
  },
  data() {
    return {
      jitsi: null,
    };
  },
  mounted() {
    const promise = new Promise((resolve, reject) => {
      const interval = setInterval(() => {
        if (this.$store.state.webrtcServer != '') {
          clearInterval(interval);
          resolve(this.$store.state.webrtcServer);
        }
      }, 200);
      setTimeout(() => {
        clearInterval(interval);
        reject(Error('Timeout retrieving WebRTC connection details from server'));
      }, 5000);
    });
    promise.then(server => {
      this.jitsi = new JitsiMeetExternalAPI(server, { // eslint-disable-line no-undef
        roomName: this.room,
        parentNode: document.querySelector("#jitsiMeet"),
        configOverwrite: {
          startAudioMuted: 1,
          startVideoMuted: 1,
          startWithAudioMuted: true,
          startWithVideoMuted: true,
        },
      });
    });
  },
  watch: {
    room: function(newVal) {
      if (this.jitsi) {
        this.jitsi.dispose();
        this.jitsi = new JitsiMeetExternalAPI(this.$store.state.webrtcServer, { // eslint-disable-line no-undef
          roomName: newVal,
          parentNode: document.querySelector("#jitsiMeet"),
          configOverwrite: {
            startAudioMuted: 1,
            startVideoMuted: 1,
            startWithAudioMuted: true,
            startWithVideoMuted: true,
          },
        });
      }
    },
  },
  onDestroy() {
    this.jitsi.dispose();
  },
}
</script>

<style scoped>
.stream {
  height: 500px;
}
</style>
