<template>
  <video :muted="muted" autoplay playsinline ref="room" width="100%" class="stream"></video>
</template>

<script>
export default {
  name: 'WebRtcVideo',
  props: {
    muted: {
      type: Boolean,
      default: false
    },
  },
}
</script>

<style scoped>
</style>
