<template>
  <v-btn-toggle v-model="controls" multiple v-if="isAuthenticated">
    <v-btn @click="toggleMicrophone">
      <v-icon>{{ microphoneIcon }}</v-icon>
      <span class="hidden-sm-and-down"> Microphone</span>
    </v-btn>
    <v-btn @click="toggleCamera">
      <v-icon>{{ cameraIcon }}</v-icon>
      <span class="hidden-sm-and-down"> Camera</span>
    </v-btn>
    <v-btn>
      <v-icon>mdi-comment-question</v-icon>
      <span class="hidden-sm-and-down"> Question</span>
    </v-btn>
  </v-btn-toggle>
</template>

<script>
export default {
  name: 'WebRtcControls',
  props: {
    room: {
      type: Number
    },
  },
  data() {
    return {
      controls: [0, 1],
      microphoneIcon: "mdi-microphone-off",
      cameraIcon: "mdi-video-off",
      handles: {},
    };
  },
  computed: {
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    },
  },
  methods: {
    toggleMicrophone: function() {
      if (this.controls.includes(0)) {
        this.microphoneIcon = "mdi-microphone";
        if (this.handles.streaming) {
          this.handles.streaming.unmuteAudio();
        }
      } else {
        this.microphoneIcon = "mdi-microphone-off";
        if (this.handles.streaming) {
          this.handles.streaming.muteAudio();
        }
      }
    },
    toggleCamera: function() {
      if (this.controls.includes(1)) {
        this.cameraIcon = "mdi-video";
        if (this.handles.streaming) {
          this.handles.streaming.unmuteVideo();
        }
      } else {
        this.cameraIcon = "mdi-video-off";
        if (this.handles.streaming) {
          this.handles.streaming.muteVideo();
        }
      }
    },
    handleError: function(error) {
      console.error(error);
      this.$emit('error', error);
    },
    handleWebRtcConnection: function(server, room) {
      const onJanusInit = this.onJanusInit;
      Janus.init({ // eslint-disable-line no-undef
        debug: ['debug', 'log', 'warn', 'error'],
        callback: () => {
          onJanusInit(server, room);
        },
      });
    },
    createWebRtcConnection: function() {
      const promise = new Promise((resolve, reject) => {
        const interval = setInterval(() => {
          if (this.$store.state.webrtcServer != '') {
            clearInterval(interval);
            resolve(this.$store.state.webrtcServer);
          }
        }, 200);
        setTimeout(() => {
          clearInterval(interval);
          reject(Error('Timeout retrieving WebRTC connection details from server'));
        }, 5000);
      });
      promise.then(server => {
        this.handleWebRtcConnection(server, this.room);
      }).catch(error => {
        this.handleError(error);
      });
    },
    onJanusInit: function(server, room) {
      const root = this.$store.state.webrtcRoot;
      const wsroot = this.$store.state.webrtcWsRoot;
      const isAudioMuted = this.microphoneIcon === "mdi-microphone-off";
      const isVideoMuted = this.cameraIcon === "mdi-video-off";
      const user = this.$store.state.user();
      const wss_server = `wss://${server}${wsroot}`;
      const https_server = `https://${server}${root}`;
      let servers = [wss_server, https_server];
      if (window.location.protocol === 'http:') {
        const ws_server = `ws://${server}${wsroot}`;
        const http_server = `http://${server}${root}`;
        servers = [ws_server, http_server];
      }

      const janus = new Janus({ // eslint-disable-line no-undef
        server: servers,
        iceServers: this.$store.state.webrtcIceServers,
        success: () => {
          this.handles.janus = janus;
          janus.attach({
            plugin: 'janus.plugin.videoroom',
            success: pluginHandle => {
              this.handles.streaming = pluginHandle;
              console.log('Plugin attached!' + pluginHandle.getPlugin());
              const data = {
                  request: 'join',
                  ptype: 'publisher',
                  room: room,
              };
              if (this.isAuthenticated) {
                data.id = user.id;
              }
              this.handles.streaming.send({ message: data });
            },
            error: error => {
              this.handleError(error);
            },
            onmessage: (msg, jsep) => {
              if (jsep) {
                this.handles.streaming.handleRemoteJsep({jsep: jsep});
              } else if (msg.videoroom === 'joined') {
                const data = {
                  request: 'publish',
                  audio: true,
                  video: true,
                };
                this.handles.streaming.send({ message: data });
                this.handles.streaming.createOffer({
                  media: {
                    audioSend: this.isAuthenticated,
                    videoSend: this.isAuthenticated,
                  },
                  success: jsep => {
                    this.handles.streaming.send({
                      message: data,
                      jsep: jsep,
                    });
                    if (isAudioMuted) {
                      this.handles.streaming.muteAudio();
                    }
                    if (isVideoMuted) {
                      this.handles.streaming.muteVideo();
                    }
                  },
                  error: error => {
                    this.handleError(error);
                  },
                });
              } else if (msg.videoroom === 'event' && msg.publishers) {
                // TODO: subscribe to feed
                // https://github.com/meetecho/janus-gateway/blob/master/html/videoroomtest.js#L452
                console.log('PUBLISHER available');
                console.log(msg.publishers);
              } else if (msg.videoroom) {
                console.log('>>>>>>>>>>>>>>>>>>>>');
                console.log(msg);
                console.log('>>>>>>>>>>>>>>>>>>>>');
              }
            },
            onlocalstream: stream => {
              if (this.isAuthenticated) {
                var videoElement = document.querySelector('#localVideo');
                Janus.attachMediaStream(videoElement, stream); // eslint-disable-line no-undef
              }
            },
            onremotestream: stream => {
              var videoElement = document.querySelector('#remoteVideo');
              Janus.attachMediaStream(videoElement, stream); // eslint-disable-line no-undef
            },
          });
        },
        error: error => {
          this.handleError(error);
        },
      });
    },
  },
  watch: {
    room: function() {
      if (this.handles.streaming) {
        this.handles.streaming.send({
          message: {
            request: 'leave',
          }
        });
        // TODO: Not sure if this will actually reconnect to a difference room
        this.createWebRtcConnection();
      }
    }
  },
  mounted() {
    this.createWebRtcConnection();
  },
  beforeDestroy() {
    this.handles.streaming.send({
        message: {
          request: 'leave',
        }
    });
    this.handles.janus.destroy();
  }
}
</script>

<style scoped></style>
