{% load render_bundle from webpack_loader %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    {% if webrtc_component == 'JANUS' %}
    <script src="{% static 'js' %}/janus/janus.min.js"></script>
    <script src="{% static 'js' %}/webrtc-adapter/adapter.min.js"></script>
    {% elif webrtc_component == 'JITSI' %}
    <script src='https://meet.jit.si/external_api.js'></script>
    {% endif %}
    <title>{% block title %}BillowConf{% endblock %}</title>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <noscript>
      <strong>We're sorry but BillowConf doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
        <app></app>
    </div>
    {% render_bundle 'chunk-vendors' %}
    {% render_bundle 'app' %}
    {% block extra_foot %}{% endblock %}
  </body>
</html>
