<template>
  <span>
    <app-navigation show-admin></app-navigation>
    <v-container>
      <v-row>
        <v-col cols="2" class="hidden-sm-and-smaller"></v-col>
        <v-col cols="12" md="10">
          <router-view></router-view>
        </v-col>
      </v-row>
    </v-container>
  </span>
</template>

<script>
import AppNavigation from '@/components/AppNavigation';

export default {
  name: 'Administration',
  components: {
    AppNavigation
  },
}
</script>
