<template>
  <v-dialog v-model="dialog" width="500" :persistent="deleteLoading">
    <template v-slot:activator="{ on }">
      <management-form :error="error" :title="title">
        <v-form v-model="valid" @submit.prevent="submit">
          <v-text-field v-model="name" :rules="requiredRules" label="Name" required>
          </v-text-field>
          <v-textarea v-model="description"
                      :rules="requiredRules"
                      label="Description"
                      required
                      ></v-textarea>
          <v-menu v-model="startDateMenu"
                  :rules="requiredRules"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                  >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      :rules="requiredRules"
                      v-model="startDate"
                      label="Start date"
                      prepend-icon="mdi-calendar"
                      outlined
                      readonly
                      v-on="on"
                      ></v-text-field>
                  </template>
            <v-date-picker
              v-model="startDate"
              ></v-date-picker>
          </v-menu>
          <v-menu v-model="startTimeMenu"
                  :rules="requiredRules"
                  transition="scale-transition"
                  offset-y
                  :close-on-content-click="false"
                  min-width="290px"
                  >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      :rules="requiredRules"
                      v-model="startTime"
                      label="Start time"
                      prepend-icon="mdi-clock-outline"
                      outlined
                      readonly
                      v-on="on"
                      ></v-text-field>
                  </template>
            <v-time-picker
              v-model="startTime"
              format="24hr"
              @click:minute="$refs.menu.save(time)"
              :allowed-minutes="m => m % 5 === 0"
              ></v-time-picker>
          </v-menu>
          <v-combobox v-model="duration"
                      :items="talkDurations"
                      label="Talk Duration"
                      required
                      ></v-combobox>
          <v-autocomplete v-model="presenters"
                          :items="allPresenters"
                          item-text="username"
                          item-value="id"
                          label="Presenters"
                          :loading="isUsersLoading"
                          chips
                          multiple
                          required
                          ></v-autocomplete>
          <v-autocomplete v-model="room"
                          :items="rooms"
                          item-text="name"
                          item-value="id"
                          label="Room"
                          :loading="isRoomLoading"
                          required
                          ></v-autocomplete>
          <v-file-input v-model="recordedContent"
                        accept="application/mp4,.mp4"
                        :label="recordedContentLabel"
                        ></v-file-input>
          <v-btn :disabled="!valid" color="primary" type="submit">Submit</v-btn>
          <v-btn color="secondary" :to="{ name: 'TalkAdmin' }">Cancel</v-btn>
          <v-btn color="error" v-on="on">Delete</v-btn>
        </v-form>
      </management-form>
    </template>
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>
        Confirm delete
      </v-card-title>
      <v-card-text>
        Are you sure you want to delete talk {{ name }}?"
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn :disabled="deleteLoading" color="secondary" text @click="dialog = false">
          No
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn color="error" text @click="deleteItem" :loading="deleteLoading">Yes</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Api from '@/utils/api.js';
import ManagementForm from '@/components/ManagementForm';

export default {
  name: 'TalkManageAdmin',
  components: {
    ManagementForm,
  },
  props: {
    sid: {
      type: String,
      default: "-1",
    },
  },
  data() {
    return {
      error: '',
      valid: false,
      dialog: false,
      deleteLoading: false,
      name: '',
      description: '',
      startDate: '',
      startTime: null,
      startDateMenu: false,
      startTimeMenu: false,
      duration: '',
      talkDurations: ['00:15', '00:30', '00:45', '01:00'],
      presenters: '',
      allPresenters: null,
      room: '',
      rooms: null,
      recordedContent: null,
      replaceRecordedContent: false,
      requiredRules: [
        v => !!v || 'Required'
      ],
    };
  },
  computed: {
    isEdit() {
      return this.id != -1;
    },
    isRoomLoading() {
      return this.rooms === null
    },
    isUsersLoading() {
      return this.allPresenters === null
    },
    id() {
      return Number(this.sid);
    },
    title() {
      if (this.isEdit) {
        return 'Edit Talk';
      } else {
        return 'Create Talk';
      }
    },
    start() {
      return `${this.startDate}T${this.startTime}:00Z`;
    },
    formatDuration() {
      return `${this.duration}:00`
    },
    recordedContentLabel() {
      if (this.replaceRecordedContent) {
        return 'Replace existing pre-recorded content';
      }
      return 'Upload pre-recorded content';
    },
  },
  mounted() {
    const api = new Api();
    if (this.isEdit) {
      api.talk(this.id).then(response => {
        const talk = response.data;
        this.name = talk.name;
        this.description = talk.description;
        const start = new Date(talk.start);
        this.startDate = start.toISOString().substr(0, 10);
        this.startTime = start.toISOString().substr(11,5);
        this.duration = talk.duration.substr(0,5);
        this.presenters = talk.presenters;
        this.room = talk.room;
        if (talk.recorded_content) {
          this.replaceRecordedContent = true;
        }
      }).catch(error => {
        this.error = 'Unable to retrieve room details';
        console.error(error);
      });
    }
    const roomPromise = new Promise((resolve, reject) => {
      const interval = setInterval(() => {
        if (this.$store.state.rooms.length > 0) {
          clearInterval(interval);
          resolve(this.$store.state.rooms);
        }
      }, 200);
      setTimeout(() => {
        clearInterval(interval);
        reject(Error('Timeout retrieving room list from server'));
      }, 5000);
    });
    roomPromise.then(rooms => {
      this.rooms = rooms;
    }).catch(error => {
      this.error = error.message;
      console.error(error);
    });
    const userPromise = new Promise((resolve, reject) => {
      const interval = setInterval(() => {
        if (this.$store.state.conference.id != '') {
          clearInterval(interval);
          resolve(this.$store.state.conference);
        }
      }, 200);
      setTimeout(() => {
        clearInterval(interval);
        reject(Error('Timeout retrieving user list from server'));
      }, 5000);
    });
    userPromise.then(conference => {
      api.conferenceManagementPeople(`conference=${conference.id}`).then(response => {
        // TODO: This only uses ConferenceManagementPeople and does not allow for the
        // creation of new presenters from the standard list of users.
        this.allPresenters = response.data.results;
      }).catch(error => {
        this.error = 'Unable to retrieve user list from server';
        console.error(error);
      });
    }).catch(error => {
      this.error = error.message;
      console.error(error);
    });
  },
  methods: {
    submit: function() {
      const api = new Api();
      var promise = null;
      var formData = new FormData();
      formData.append('name', this.name);
      formData.append('description', this.description);
      formData.append('start', this.start);
      formData.append('duration', this.formatDuration);
      formData.append('presenters', this.presenters);
      formData.append('room', this.room);
      formData.append('recorded_content', this.recordedContent);
      if (this.isEdit) {
        promise = api.editTalk(this.id, formData);
      } else {
        promise = api.createTalk(formData);
      }
      promise.then(() => {
        this.$router.push({
          name: 'TalkAdmin'
        });
      }).catch(error => {
        console.log(error.response);
        if (error.response && error.response.status < 500) {
          this.error = 'You are not authorized manage talks';
        } else {
          this.error = 'Something went wrong, please try again';
          console.error(error);
        }
      });
    },
    deleteItem: function() {
      this.deleteLoading = true;
      const api = new Api();
      api.deleteTalk(this.id).then(() => {
        this.deleteLoading = false;
        this.dialog = false;
        this.$router.push({
          name: 'TalkAdmin'
        });
      }).catch(error => {
        if (error.response && error.response.status < 500) {
          this.error = 'You are not authorized delete talks';
        } else {
          this.error = 'Something went wrong, please try again';
          console.error(error);
        }
      });
    },
  }
}
</script>

<style></style>
